<div class="cont">
    <div class="logo"><img src="assets/adhra.jpeg"></div>
    <div class="title"><h1><b>THE REVOLUTION GOVERNMENT OF ZANZIBAR</b></h1></div>
    <div class="title2"><h2><b>DEPARTMENT OF COMMUNICATION AND TRANSPORT</b></h2></div>
    <div class="title3"><h3><b>FAX +34567899999 & +2345678905</b></h3></div>
    <div class="title3"><h3><b>E-mail:transport@co.tz P.O BOX 876</b></h3></div>
    <div class="title3"> <h3><b>M/KWEREKWE-ZANZIBAR</b></h3></div>
        <div class="m"><b>Daladala Plate Number:.................{{daladala_id}}</b></div>
        <div class="m"><b>Route Number:...............................{{route_id}}</b></div>
        <div class="m"><b>Start Date:.......................................{{start}}</b></div>
        <div class="m"><b>Expire Date:....................................{{expire}}</b></div>
        <div class="headOfice"><b>Head Office use only </b></div>
        
        <div class="m"><b>Date:.................  Signature:.......................</b></div>
</div>

