<!-- Brand Logo -->
<a class="brand-link animated swing">
   <img src="assets/logos.png"  width="150" style="margin-top: -60px;margin-bottom: -20px;">
</a>

<!-- Sidebar -->
<div class="sidebar-container">
<ul class="sidebar">
<li class="header">APPLICANT</li>
<li>
   <a class="nav-link" routerLink="home">
   <i class="fa fa-tachometer" aria-hidden="true" style="margin-left:-20px;"></i> DASHBOARD
   </a>
   </li>
<li>
   <a class="nav-link" routerLink="driver">
   <i class="fa fa-tachometer" aria-hidden="true" style="margin-left:-20px;"></i> DRIVER DETAILS
   </a>
   </li>
<li>
   <a class="nav-link" routerLink="daladala">
   <i class="fa fa-tachometer" aria-hidden="true" style="margin-left:-20px;"></i> DALADALA DETAILS
   </a>
   </li>
<li>
   <a class="nav-link" routerLink="routelist">
   <i class="fa fa-tachometer" aria-hidden="true" style="margin-left:-20px;"></i> REQUEST ROUTE
   </a>
   </li>
<li>
   <a class="nav-link" routerLink="profile">
   <i class="fa fa-tachometer" aria-hidden="true" style="margin-left:-20px;"></i> MY PROFILE
   </a>
   </li>  
</ul>
</div>

