<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="assets/logos.png" width="150" style="margin-top: 60px;margin-bottom: -20px;">
            <h1>Welcome</h1>
            <h2>Daladala Route Monitoring System</h2>
            <h3>Payment should be made through PBZ Account No:560976656</h3>

            <!-- <input type="submit" name="" value="Login"/><br/> -->
        </div>
        <div class="col-md-9 register-right">
            <h3 class="register-heading">Register As the owner of the Daladala</h3>
            <form [formGroup]="userForm">
                <div class="row register-form">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" formControlName="name" placeholder="Name *" value="" required />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Age</mat-label>
                            <input matInput type="number" formControlName="age" placeholder="Age *" value="" min="18"
                                required />
                        </mat-form-field>


                        <mat-form-field appearance="outline">
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="number" formControlName="phone_no" placeholder="Phone_No *"
                                required />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Occupation</mat-label>
                            <input matInput type="text" formControlName="occupation" value="" placeholder="Occupation *"
                                required />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Address</mat-label>
                            <input matInput type="text" formControlName="address" placeholder="Address *" value="" />
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Owner ID</mat-label>
                            <input matInput type="text" formControlName="id" value="" placeholder="Owner Id *"
                                required />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email" placeholder="Your Email *" required />
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender">
                                <mat-option value="male">Male</mat-option>
                                <mat-option value="female">Female</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Birth Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dob">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Date Record</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="date_record">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Select ID Type</mat-label>
                            <mat-select formControlName="id_type">
                                <mat-option value="national id">National ID</mat-option>
                                <mat-option value="passport card">Passport Card</mat-option>
                                <mat-option value="license id">License ID</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div>
                        <input type="submit" value="Register" class="btn" [disabled]="userForm.invalid"
                            (click)="saveuser()">
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>