<div class="cont">
    <div class="title"><h1><b>PERSONAL INFORMATIONS</b></h1></div>
    <div class="m"><b>Name{{userdetails.name}}</b></div>
    <div class="m"><b>Address{{userdetails.address}}</b></div>
    <div class="m"><b>Age{{userdetails.age}}</b></div>
    <div class="m"><b>Gender{{userdetails.gender}}</b></div>
    <div class="m"><b>Birth Date{{userdetails.dob}}</b></div>
    <div class="m"><b>Telephone{{userdetails.phone_no}}</b></div>
    <div class="m"><b>Occupation{{userdetails.occupation}}</b></div>
    <div class="m"><b>Email{{userdetails.email}}</b></div>
   
</div>


